@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  width: 95%;
  margin: 2rem auto;
  max-width: 1200px;
}

.hidden {
  display: none !important;
}
